In [5]:
import pandas as pd

df = pd.read_csv('Pokemon.csv')
# df_xlsx = pd.read_excel('Pokemon.xlsx')
# df = pd.read_csv('Pokemon.txt', delimiter='\t')

# print(df.head(3))
# print(df.tail(3))

In [21]:
# headers
print(df.columns)

# specific column
# print(df['Name'][0:5])
# print(df[['Name', 'Type 1', 'HP']])

# each row
# print(df.iloc[0:4])
# -----------------------
# for index, row in df.iterrows():
#     print(index, row['Name'])
# -----------------------
# df.loc[df['Type 1'] == "Fire"]

# specific position
# print(df.iloc[2,1])

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [25]:
# df.describe()

# df.sort_values('Name', ascending=False)
# df.sort_values(['Type 1', 'HP'], ascending=False)
# df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,515,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,550,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,295,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False

In [33]:
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# df = df.drop(columns=['Total'])

# sums up horizontally
# df['Total'] = df.iloc[:, 4:10].sum(axis=1)

# cols = list(df.columns.values)
# df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

# df.head(5)

In [37]:
# df.to_csv('modified.csv', index=False)
# df.to_excel('modified.xlsx', index=False)
# df.to_csv('modified.txt', index=False, sep='\t')

In [57]:
# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

# new_df.to_csv('filtered.csv')

# new_df = new_df.reset_index()
# new_df.reset_index(drop=True, inplace=True)

# where there are no "Mega"
# df.loc[~df['Name'].str.contains('Mega')]

import re

# df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
# df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

In [61]:
# df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'
# df.loc[df['Type 1'] == 'Flamer', 'Type 1'] = 'Fire'
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [62]:
df = pd.read_csv('Pokemon.csv')

In [65]:
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUE'
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [75]:
df = pd.read_csv('modified.csv')

# df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)
# df.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)
# df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)

df['count'] = 1

# df.groupby(['Type 1']).sum()
# df.groupby(['Type 1']).count()['count']
# df.groupby(['Type 1' ,'Type 2']).count()['count']

In [77]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    
    new_df = pd.concat([new_df, results])
    
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2